/* -- Admin Interface -- */

.Admin-header {
  background-color: @Header-background-color;
  border-color: @Header-border-color;
  margin-bottom: 1px;
}

.Admin-header-logout {
  color: @logout-color;
}

.Admin-evaluations-status {
  float: right;
  font-size: 13px;
}

.Admin-evaluation-results-chart {
  width: 300px;
  height: 400px;
}

.Admin-templates-container {
  margin-left: -1px;
  margin-right: -1px;
}

.Admin-templates-evaluations-container {
  margin-top: 10px;
}

.navbar-default .navbar-nav > li > a.Admin-button--create {
  color: white;
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a.Admin-button--create:hover {
  color: black;
  background-color: @Template-button-color--hover;
}
