#head {
  background-color: white;
  border-color: white;
  margin-bottom: 1px;
}
#status {
  float: right;
  font-size: 13px;
}

.navbar-default .navbar-nav > li > a.tmplBtn {
  color: white;
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a.tmplBtn:hover {
  color: black;
  background-color: #e7e7e7;
}