/* -- Main Interface -- */
/* -- Admin Interface -- */
.Admin-header {
  background-color: #ffffff;
  border-color: #ffffff;
  margin-bottom: 1px;
}
.Admin-header-logout {
  color: #e25e5e;
}
.Admin-evaluations-status {
  float: right;
  font-size: 13px;
}
.Admin-evaluation-results-chart {
  width: 300px;
  height: 400px;
}
.Admin-templates-container {
  margin-left: -1px;
  margin-right: -1px;
}
.Admin-templates-evaluations-container {
  margin-top: 10px;
}
.navbar-default .navbar-nav > li > a.Admin-button--create {
  color: white;
  font-size: 14px;
}
.navbar-default .navbar-nav > li > a.Admin-button--create:hover {
  color: black;
  background-color: #e7e7e7;
}
/* -- Student Interface -- */
.Student-header {
  background-color: #ffffff;
  border-color: #ffffff;
  margin-bottom: 1px;
}
.Student-header-logout {
  color: #e25e5e;
}
.Student-info {
  font-size: 13px;
}
.Student-image {
  padding-bottom: 10px;
}
.Evaluations {
  cursor: pointer;
}
.Teacher-info {
  font-size: 10px;
}
.Teacher-info-image {
  float: left;
}
/* - Variables - */
/* - End Variables - */
.form-group.Login-form {
  margin-right: -1px;
  margin-left: -1px;
}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Pointer cursor on links in nav and list of evaluations */
.dropdown-menu li:hover,
.dropdown-toggle:hover {
  cursor: pointer;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
