/* -- Student Interface -- */

.Student-header {
  background-color: @Header-background-color;
  border-color: @Header-border-color;
  margin-bottom: 1px;
}

.Student-header-logout {
  color: @logout-color;
}

.Student-info {
  font-size: 13px;
}

.Student-image {
  padding-bottom: 10px;
}

.Evaluations {
  cursor: pointer;
}

.Teacher-info {
  font-size: 10px;
}

.Teacher-info-image {
  float: left;
}