/*.nav {*/
    /*margin-top: 0;*/
    /*background-color: lightseagreen;*/

/*}*/
#image {
    /*width: 150px;*/
    /*height: 150px;*/
    background-color: pink;

}
#teacherInfo {
    font-size: 10px;
 }
#heads {
    margin-bottom: 0px;
}
#img {
    float: left;
}
#thumb {
    margin-top: 10px;
}
#thumb-student {
    /*float: left;*/
    font-size: 10px;
}
##thumb-student-img {
    float: right;
}

.fullname {
    float: right;
}