
<div  class="header">
    <div >
        <!--**************************ath laga id upp a css ****************************-->
        <nav id="head" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="text-muted"><a ng-href="#/index">projectREST</a></h3>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills pull-right">
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Teachers</a></li>
                    <li class="dropdown"><a data-toggle="dropdown">Templates</a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="template in templates">
                                <a ng-click="openTemp(template.ID)">
                                    <span style="cursor:pointer">{{template.TitleIS}} {{template.TitleEN}}</span></a></li>
                        </ul>
                    </li>
                    <li><a class="btn btn-primary btn-xs"  ng-click="createTemplate()">Create Template</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <h5>All evaluations:</h5>
        <ul>
            <li ng-repeat="eval in evaluations">{{eval.TemplateTitleEN}}</li>
        </ul>
    </div>
    <div class="col-xs-6">
        <h3>{{evalTemp.TitleEN}}</h3>
        <h4>{{evalTemp.IntroTextEN}}</h4>
        <ul>
            <li ng-repeat="quest in evalTemp.CourseQuestions">{{quest.TextEN}}
                <ul>
                    <li ng-repeat="ans in quest.Answers">{{ans.TextEN}}</li>
                </ul>
            </li>
        </ul>


    </div>
</div>

<div class="footer">
    <div class="col-lg-4">WEPO Project 3</div>
    <div class="col-lg-8">Bjarni, Gunnar og Hildur </div>
</div>