<div  class="header">
    <div >
        <!--**************************ath laga id upp a css ****************************-->
        <nav id="head" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="text-muted"><a ng-href="#/index">projectREST</a></h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills pull-right">
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Teachers</a></li>
                    <li><a href="#">Templates</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<ol class="breadcrumb">
    <li><a href="#">Login</a></li>
    <li><a href="#/admin/{{token}}">Home</a></li>
    <li class="active">Create Template</li>
</ol>
<div>
    <form ng-show="head" role="form">
        <label> Template name:</label>
        <input type="text" ng-model="title" placeholder="Template name" class="form-control">
        <input type="text" ng-model="description"
            placeholder="Evaluation description" class="form-control"></br>
    <!--<input type="text" ng-model="titleIS"-->
           <!--placeholder="Nafn sniðmát" class="form-control">-->
    <!--<input type="text" ng-model="descriptionIS"-->
           <!--placeholder="Sniðmáts lýsing" class="form-control">-->
        <button class="btn btn-success btn-xs" ng-click="evalDescript(); isCollapsed = true; isColl = true; head = false; quest = true"
            class="form-control">Submit</button>
    </form>

    <div class="well well-lg">
        <h4>{{evalObject.TitleEN}}</h4>
        <h5>{{evalObject.IntroTextEN}}</h5>


    <form class="form-horizontal" ng-repeat="questionView in evalObject.CourseQuestions">
        <div class="well well-lg">
            <fieldset>
                <legend>{{$index + 1}}.&nbsp{{questionView.TextEN}}</legend>
                <div class="radio" ng-repeat="answersView in questionView.Answers">
                    <input type="radio" name="radios" value="ans.TextEN"/><span>&nbsp;{{answersView.TextEN}}</span>
                </div>
                <!--<div ng-show="text" >-->
                    <!--<input type="text"/>-->
                <!--</div>-->
            </fieldset>
        </div>
    </form>
    </div>

    <div ng-show="quest">
        <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed; isColl = true; multi()">Multi choice question</button>
        <div ng-hide="isCollapsed">
            <div class="well well-lg">
                <div class="form-group">
                    <label for="pollQuestion">Question</label>
                    <input type="text" ng-model="question.TextEN" class="form-control"
                        id="pollQuestion" placeholder="Enter poll question">
                </div>
            <!--<div class="form-group">-->
            <!--<label for="konnun">Spurning</label>-->
            <!--<input type="text" ng-model="spurning" class="form-control"-->
            <!--id="konnun" placeholder="Skráðu spurningu">-->
            <!--</div>-->
                <div class="form-group">
                    <label>Choices</label>
                    <div ng-repeat="choice in question.Answers">
                        <input type="text" ng-model="choice.TextEN" class="form-control" placeholder="Enter answer {{$index +1}}"></br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default" ng-click="addChoice()">
                            <span class="glyphicon glyphicon-plus"></span>Add another choice</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default" ng-click="addCourseQuestion(); isCollapsed = !isCollapsed">
                            <span class="glyphicon glyphicon-plus"></span>Save as course question</button>
                        <button type="button" class="btn btn-default" ng-click="addTeacherQuestion(); isCollapsed = !isCollapsed">
                            <span class="glyphicon glyphicon-plus">
                    </span>Save as teacher question</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="quest">
        <button class="btn btn-default" ng-click="isColl = !isColl; isCollapsed = true; text()">Text question</button>
        <div ng-hide="isColl">
            <div class="well well-lg">
                <div class="form-group">
                    <label for="pollQuestion">Question</label>
                    <input type="text" ng-model="question.TextEN" class="form-control"
                        placeholder="Enter poll question">
                </div>
            <!--<div class="form-group">-->
                <!--<label for="konnun">Spurning</label>-->
                <!--<input type="text" ng-model="spurning" class="form-control"-->
                <!--id="konnun" placeholder="Skráðu spurningu">-->
                <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default" ng-click="addCourseQuestion(); isColl = !isColl">
                            <span class="glyphicon glyphicon-plus"></span>Save as course question</button>
                        <button type="button" class="btn btn-default" ng-click="addTeacherQuestion(); isColl = !isColl">
                        <span class="glyphicon glyphicon-plus"></span>Save as teacher question</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <p><hr></p>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary pull-right" type="submit" ng-click="saveTemplate()">Save template &raquo;</button>
        </div>
    </div>
    <p>&nbsp;</p>
</form>






<div class="footer">
    <div class="col-md-4">WEPO Project 3</div>
    <div class="col-md-8">Bjarni, Gunnar og Hildur </div>
</div>
