<div  class="header">
    <!--**************************ath laga id upp a css ****************************-->
    <nav id="head" class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 class="text-muted"><a ng-href="#/index">projectREST</a></h3>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills pull-right">
                <li class="dropdown" ng-repeat="course in courses"  ng-click="courseStuff(course.CourseID, course.DateBegin)">
                    <a class="btn btn-primary btn-xs" class="dropdown-toggle" data-toggle="dropdown">
                        {{course.NameIS}}
                    </a>
                    <!--<ul class="dropdown-menu" ng-repeat="teacher in courseTeachers">-->
                        <!--<li ng-repeat="teacher in courseTeachers">{{teacher.FullName}}</li>-->
                    <!--</ul>-->
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-md-4">
        <h5>My Evaluations:</h5>
        <ul class="list-unstyled">
            <li ng-repeat="eval in evaluations">{{eval}}</li>
            <li>midterm eval</li>
            <li>lateterm eval</li>
            <li>Endalaus möt</li>
        </ul>
    </div>

    <div class="col-md-5">
    </div>

    <div class="col-md-3">
        <div ng-hide="specialCourse" id="image"><img src="http://img2.wikia.nocookie.net/__cb20120922002941/fantendo/images/f/fc/MarioNSMBWii.png"  heigth="150" width="100" alt="student"></div>
        <!--<div class="col-md-4">-->
            <!--<a href="#" class="thumbnail">-->
                <!--<img src="http://img2.wikia.nocookie.net/__cb20120922002941/fantendo/images/f/fc/MarioNSMBWii.png/100%x180%" alt="student">-->
            <!--</a>-->
        <!--</div>-->


        <div ng-show="specialCourse">
            Student Name
            <button ng-click="teacherList = !teacherList" type="button" class="btn btn-primary">Teachers</button>
            <ul ng-show="teacherList" class="list-unstyled">
                <li ng-repeat="teacher in courseTeachers">{{teacher.FullName}}</li>
            </ul>
        </div>
        </br>
    </div>
</div>



<div class="footer">
    <div class="col-md-4">WEPO Project 3</div>
    <div class="col-md-8">Bjarni, Gunnar og Hildur </div>
</div>