<div  class="header">
    <div >
        <!--**************************ath laga id upp a css ****************************-->
        <nav id="head" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="text-muted"><a ng-href="#/index">projectREST</a></h3>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills pull-right">
                    <li><a href="#">Veff</a></li>
                    <li><a href="#">FML</a></li>
                    <li><a href="#">Styrikerfi</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h5>Your Courses:</h5>
        <ul>
            <li ng-repeat="course in courses">{{course.CourseID}} {{course.NameIS}} ({{course.NameEN}})</li>
        </ul>
    </div>
    <div class="col-xs-8">
        <h5>Your Evaluations:</h5>
        <ul>
            <!--<li ng-repeat="eval in evaluations">{{eval.CourseID}} {{eval.NameIS}}</li>-->
            <li class="active"><a ng-href="#/admin">Admin</a></li>
            <li class="active"><a ng-href="#/student">Student</a></li>
        </ul>
    </div>
</div>



<div class="footer">
    <div class="col-md-4">WEPO Project 3</div>
    <div class="col-md-8">Bjarni, Gunnar og Hildur </div>
</div>